[Unit]
Description=Camlistore
After=camli-mysql.service
Requires=camli-mysql.service

[Service]
User=camli
Group=camli
ExecStart=/usr/local/bin/camlistored -openbrowser=false
RestartSec=1s
Restart=always
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
